
:root {

     /* Setting font size */
     font-size: 62.5%;

    /* CUSTOM PROPERTIES */

    /* COLORS*/
    /* Accent */
    --c-accent: #BCFF05;
    --c-on-accent: #000000;
    --c-negative: #FF7E6E;
    --c-caution: #FFBD3D;

    /* Surface */
    --c-surface-primary: #000000;
    --c-surface-secondary: #111418;
    --c-surface-tertiary: #191C21;
    --c-surface-quaternary: #262C33;

    /* On surface */
    --c-on-surface-primary: #FFFFFF;
    --c-on-surface-primary-variant: #D4DBE2;
    --c-on-surface-secondary: rgba(212, 219, 226, 0.7);
    --c-on-surface-tertiary: rgba(212, 219, 226, 0.5);
    --c-on-surface-quaternary: rgba(212, 219, 226, 0.3);

    /* Surface overlays */
    --c-over-surface-primary: linear-gradient(rgba(212, 219, 226, 0.12), rgba(212, 219, 226, 0.12));
    --c-over-surface-secondary: linear-gradient(rgba(212, 219, 226, 0.08), rgba(212, 219, 226, 0.08));
    --c-over-surface-tertiary: linear-gradient(rgba(212, 219, 226, 0.04), rgba(212, 219, 226, 0.04));
    --c-modal-overlay: rgba(0, 0, 0, 0.7);

    /* Outline */
    --c-outline-primary: rgba(212, 219, 226, 0.24);
    --c-outline-secondary: rgba(212, 219, 226, 0.16);
    --c-outline-secondary: rgba(212, 219, 226, 0.12);
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--c-on-surface-primary);
    background-color: var(--c-surface-primary);
}

.icon-chevron-down {
    width: 1rem;
    height: 1rem;
    fill: var(--c-on-surface-secondary);
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.primary-stats {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.primary-stats span:nth-child(2) {
    margin-bottom: .4rem;
}

.secondary-stats {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.secondary-stats__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--c-outline-secondary);
    padding-top: 1.2rem;
}

.secondary-stats__icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .8rem;
    vertical-align: middle;
    fill: var(--c-on-surface-secondary);
}

.secondary-stats__label {
    color: var(--c-on-surface-secondary);
}

.transactions {
    flex: 0 1 84rem;
    display: flex;
    flex-direction: column;
}

.transactions__top-bar {
    display: flex;
}

.transactions__actions {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

.transactions__actions ul,
.transactions__actions ul button {
    display: inline-block;
}

.transactions__actions ul:nth-child(2) {
    margin-right: .8rem;
}